@model BudjettI.Models.Asiakas

@{
    ViewBag.Title = "Details";
}

<center>

    <h2>Lisätiedot</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Etunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etunimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sukunimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sahkoposti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sahkoposti)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.AsiakasID }) |
        @Html.ActionLink("Palaa alkuun", "Index")
    </p>
</center>