@model BudjettI.Models.Tulot

@{
    ViewBag.Title = "Details";
}

<center>

    <div>

        <h2>Lisätietoja tulosta</h2>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PVM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PVM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Maara)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Maara)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asiakas.Etunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asiakas.Etunimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tulolajit.Nimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tulolajit.Nimi)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Muokkaa", "Edit", new { id = Model.TulotID }) |
        @Html.ActionLink("Palaa alkuun", "Index")
    </p>

</center>