@model BudjettI.Models.Menot

@{
    ViewBag.Title = "Delete";
}

<center>

    <h3>Olet poistamassa kyseisen menon. Oletko varma tästä?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PVM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PVM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Maara)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Maara)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asiakas.Etunimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asiakas.Etunimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Menolajit.Nimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Menolajit.Nimi)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Palaa alkuun", "Index")
        </div>
        }
    </div>

</center>