<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("Budjetti", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <a class="navbar-brand" href="#">[@ViewBag.LoggedStatus]</a>
        
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li><a href="#" class="nav-link">Käyttäjä: @Session["UserName"]</a></li>
                <li>@Html.ActionLink("Etusivu", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Info", "Info", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Yhteystiedot", "Yhteystiedot", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>


                <li>@Html.ActionLink("Kirjaa tulot", "Index", "Tulot", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Kirjaa menot", "Index", "Menot", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Tasapaino", "Index", "Balance", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>